@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url(/src/css/sidenav.css);
@import url(/src/css/about.css);
@import url(/src/css/compsci.css);
@import url(/src/css/math.css);
@import url(/src/css/personal.css);
@import url(/src/css/business.css);
@import url(/src/css/contact.css);

:root{
    background: url("/assets/bofax.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgb(100, 70, 70); */
    /* background-color: wheat; */
    color: #8f8f8f;
    color:#333333;
    font-family: 'Delicious Handrawn', cursive;
    font-family: sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

body{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#main{
    height: 100vh;
    scroll-snap-align: start;
}

#title{
    text-align: center;
    margin-top: -2rem;
}

#title h2{
    font-size: 300%;
}

#title p{
    font-size: 150%;
}

#titleSet{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .75s ease;
}

#alfred{
    width: 40vw;
    transform: translate(25vw);
    animation-name: shadow-pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes shadow-pulse {
    0% {
      box-shadow: none; /* Set the initial text shadow to be transparent */
    }
    50% {
      box-shadow: 10px 10px 10px rgba(9, 9, 9, 0.904); /* Set the text shadow to be more visible */
    }
    100% {
      box-shadow: none; /* Set the text shadow to be transparent again */
    }
}


#bio{
    display: none;
    text-align: center;
    transition: all .75s ease;
    font: 1em;
}

#bio img{
    height: 60px;
}


#news{
    display: block;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#nextBtnDiv{
    text-align: center;

    position: fixed;
    width: 5vw;
    margin-left: 44vw;
    bottom: 0vh;
    justify-content: center;
    align-items: center;
}
#nextBtnDiv button{
    font-size: 2em;
    background-color: transparent;
    border: none;
}

#nextBtnDiv ion-icon{
    color: rgba(192, 63, 82, 0.367);
}

#nextBtnDiv ion-icon:hover{
    color: wheat;
}

.first-page button{
    font-size: 4em;
    border: none;
    background-color: transparent;
    animation-name: jump;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

  
  
  @keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }

#backBtnDiv{
    text-align: center;
    position: fixed;
    width: 5vw;
    margin-left: 44vw;
    top: 0vh;
    justify-content: center;
    align-items: center;
}

#backBtnDiv button{
    font-size: 2em;
    background-color: transparent;
    border: transparent;
}

#backBtnDiv ion-icon{
    color: rgba(192, 63, 82, 0.367);
}

#backBtnDiv ion-icon:hover{
    color: wheat;
}

.first-page button ion-icon{
    color: rgba(192, 63, 82, 1);
}